<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.wear.tether">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_wifi_tethering_teal_800_36dp"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault">


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".EnableHotspotActivity"
            android:label="@string/lb_wifi_tether_on"
            android:launchMode="singleInstance"
            android:icon="@drawable/ic_wifi_tethering_teal_800_36dp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="android.support.wearable.activity.ConfirmationActivity">
        </activity>
    </application>


</manifest>
